{% extends 'shared/base.html' %}

{% block content %} 

<div class="others-container">
    <h2>Quienes somos:</h2>

    <h1>¡ASESÓRATE CON NOSOTROS Y VENDE O RENTA TU PROPIEDAD MÁS RÁPIDO!</h1>
    <p>
        Multicasa es la marca inmobiliaria que más vende Bienes Raíces en México. 
        Los Agentes Inmobiliarios Multicasa ayudan a millones de personas a comprar,
        rentar o vender propiedades. Contamos con casas, departamentos, oficinas,
         terrenos y otros inmuebles en venta y renta.
    </p>
    <p>Nuestro modelo de negocio no se compara con ninguno del sector inmobiliario.
        Descubre lo que una Franquicia Inmobiliaria Multicasa puede hacer por ti.</p>
        
        <h2>Valores</h2>
        <ul>
            <li>
                Compromiso
                Damos siempre seguimiento y cumplimos con horarios y tiempos para llegar a un buen cierre.
            </li>
            <li>
                Servicio
                Más allá de trabajar nos enfocamos en ayudar y ser de utilidad.
            </li>
            <li>
                Integridad
                Es muy importante para nosotros hablar siempre a nuestros clientes con honestidad.
            </li>
            <li>
                Aprendizaje
                En cada operación siempre aprendemos algo nuevo, por lo que siempre buscamos actualizarnos.
            </li>
            <li>
                Entusiasmo
                El proceso de captar y vender una propiedad siempre representa un reto.
            </li>
            <li>
                Nuestra filosofía
                Ofrecer para ti la mejor opción.
                Siempre buscar el mejor prospecto de acuerdo con tus necesidades.
            </li>
        </ul>
</div>

{% endblock %}