{% extends 'shared/base.html' %}
{% block content %} 
{% load static %}
<div class="image">
	<img src="{% static 'img/inicioImg.png' %}" alt="imagenInicio" />
</div>
<br />
{% include './shared/tableCasas.html' %} 
<h2 style="margin:20px;">Video de funcionalidad</h2>
<div class="video">
    <iframe
		src="{% static 'videos/function.mp4' %}"
		title="Video function"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen
	></iframe>
</div>
{% endblock %}
