{% extends 'shared/base.html' %} {% block content %}
<div class="others-container">
	
    <h4>
		Con nuestra variedad de servicios a su disponibilidad, nos vemos en la
		obligación de poner a su orden los requerimientos generales y específicos de
		cada servicio disponible.
	</h4>

	<ul>
		<li>Escritura Pública de la Propiedad.</li>
		<li>Avalúo del inmueble.</li>
		<li>Certificado de libertad de gravamen.</li>
		<li>Declaración de los Impuestos Sobre la Renta.</li>
		<li>Declaración del impuesto sobre Adquisición de Inmuebles.</li>
		<li>Comprobante del pago de predial.</li>
		<li>Documentos personales.</li>
	</ul>

   
	<h4>Generales</h4>
	- Identificación oficial (INE, pasaporte, INAPAM)

	<h4>Compra</h4>
	- Historial crediticio

	<h4>Venta y renta</h4>
	- Escrituras en regla

</div>

<p style="font-style: italic">
	Para mas informacion, visita nuestra apartado de
	<a href="/contactos/">contactos</a> y habla con nosotros:)
</p>
{% endblock %}
