{% extends 'shared/base.html' %} {% block content %}
<div class="others-container">
	<h2>
		En Multicasa realizamos una amplia variedad de servicios vinculados con los
		inmuebles.
	</h2>
	<p>
		Una agencia de bienes raíces no se trata solo de la búsqueda de una casa a
		gusto personal, hay muchos más servicios de alto valor para clientes que
		buscan, tanto comprar como vender una propiedad.
	</p>
	<p>
		<strong
			>Nuestros servicios más valorados para compradores de viviendas
			son:</strong
		>
	</p>
	<ul>
		<li>
			La presencia del asesor inmobiliario en el momento de la escritura
			notarial.
		</li>
		<li>
			El asesoramiento legal y fiscal durante todo el proceso de compra de la
			vivienda.
		</li>
		<li>Atención al cliente enfocada a sus necesidades y condiciones.</li>
		<li>Servicios especiales como análisis comparativo de mercado.</li>
	</ul>

	<h2>
		Por otra parte, los servicios que ofrecemos para los poseedores de viviendas
		son:
	</h2>
	<ul>
		<li>Buen posicionamiento en paginas web y anuncios.</li>
		<li>Asesoramiento legal y fiscal.</li>
		<li>Valoración de precios de la propiedad.</li>
		<li>Análisis de mercado.</li>
		<li>Difusión del inmueble.</li>
		<li>Servicio de Marketing.</li>
	</ul>
</div>
{% endblock %}p
